{% extends "base.twig" %} {% block content %}

<section class="container contact-container bio-container lg:px-20 md:px-15 px-10 ">
  <div class="">
    <div class="flex md:flex-row flex-col mt-5 mb-5 contact-container">
      <div class="md:w-2/5 w-full headshot">
        <img
          class=""
          alt="headshot picture of jon kumin"
          src="{{ headshot }}"
        />
      </div>
      <div class="md:w-3/5 w-full bio-contact px-4 mb-5 flex flex-col">
        <div class="bio-header flex  justify-between">
          <h3 class="xl:text-5xl lg:text-4xl text-2xl text-medium">
            Jon Kumin
          </h3>
          <p class="lg:text-xl text-sm">{{ contact_info.title }}</p>
        </div>
        <div class="bio-info bio-info-box flex pt-4">
          <div class="w-3/6 flex flex-col info-box-left">
            <p class="lg:text-xl text-base">
              <a href="tel:{{contact_info.phone_number}}">
                <i class="fas fa-phone-square"></i>
                {{ contact_info.phone_number }}
              </a>
            </p>
            <p class="lg:text-xl text-base">
              <a href="mailto:{{ contact_info.email }}">
                <i class="far fa-envelope"></i>
                {{ contact_info.email }}
              </a>
            </p>
            <p class="lg:text-xl text-base">
              <a href="http://www.{{ contact_info.company_profile }}">
                <i class="fas fa-passport"></i>
                {{ contact_info.company_profile }}
              </a>
            </p>
          </div>
          <div class="w-3/6 flex flex-col info-box-right">
            <p class=" xl:text-xl md:text-sm text-xs  text-right mb-4">
              {{ bio_acf.company }}
            </p>
            <img
              alt="company logo "
              class="mb-4 px-3"
              src="{{ company_logo }}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="content-container flex lg:flex-row flex-col">
      <!-- col -->
      <div class="col-left lg:w-8/12 w-full">
        <div class="bio-text px-4">
          <h3 class="text-3xl text-center pb-5 mb-5 font-normal">Biography</h3>
          <div class="px-4">{{ bio_text }}</div>
        </div>
        <div class="awards-container my-4 px-4 ">
          <h3 class="text-3xl text-center py-3 mb-6">Awards</h3>
          {% for award in bio_acf.awards %}
          <div class="award-box flex mt-5 mb-4">
            <div class="w-2/12 text-center px-4">
              <i class="fas fa-award text-6xl font-black"></i>
            </div>
            <div class="w-10/12 px-4">
              <div class="font-medium">{{ award.award_title }}</div>
              <div>{{ award.award_description }}</div>
            </div>
          </div>

          {% endfor %}
        </div>
        <div class="achievements-container flex pt-12 mb-4">
          {% for achievement in bio_acf.achievements %}
          <div class="w-6/12 px-4">
            <h4 class="mb-3 italic text-xl">{{ achievement.company_name }}</h4>

            <ul>
              {% for company_achievement in achievement.company_achievements %}
              <li class="mb-2">{{ company_achievement.achievement }}</li>

              {% endfor %}
            </ul>
          </div>

          {% endfor %}
        </div>

        <div class="recent-sales-container my-4 px-4">
          <h3 class=" text-3xl text-center mb-6 py-3">Recent Sales</h3>
          <div class="grid md:grid-cols-2 grid-cols-1 gap-4 ">
            {% for property in sold %}
            <div class="w-full mb-4 recent-sales-card">
              <img src="{{ property.image }}" />
              <div class="text-center">
                <div class="py-2">
                  SOLD
                </div>
                <div class="py-2 price">${{ property.price }}</div>
                <div class="pt-2 pb-5">
                  {{ property.address.street_address }},
                  {{ property.address.units }}
                  <br />
                  {{ property.address.city }}, {{ property.address.zip_code
                  }}<br />
                  {{ property.unit_info }}
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-right px-4 w-full lg:w-4/12">
        <div class="form-container">
          <p>
            For more information on all available listings, or future listings
            coming to the market, please inquire here:
          </p>

          {% filter shortcodes %} [wpforms id="89" title="false"] {% endfilter
          %}
        </div>

        <div class="testimonials-container">
          <h3 class="text-3xl mb-5 mr-3 pb-3">Testimonials</h3>
          <div>
            {% for testimonial in bio_acf.testimonials %}
            <div class="testimonial-container">
              <p class="my-4 mx-3 italic testimonial-paragraph">
                "{{ testimonial.testimonial_text }}"
              </p>
              <div class="text-right pb-4 text-2xl">
                - {{ testimonial.name }} ({{ testimonial.neighborhood }})
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- testimonial col -->
    </div>
  </div>
</section>

{% endblock %}
