{% extends "base.twig" %} {% block content %}



<section class="container">
  <div>
    <div>
      <!-- for image -->
    </div>
    <div>
      <h3>Jon Kumin</h3>
      <p>{{ contact_info.title }}</p>
    </div>
    <div>
      <div>
        <p>{{ contact_info.phone_number }}</p>
        <p>{{ contact_info.email }}</p>
        <p>{{ contact_info.company_profile }}</p>
      </div>
      <div>
        <p>{{ bio_acf.company }}</p>
        <img alt="company logo" src="{{ company_logo }}" />
      </div>
    </div>
  </div>

  <div>
    <!-- {% include "components/contact-form.twig" %} -->
    <!-- col -->
    <div>
      <p>{{ bio_acf.bio }}</p>
    </div>
    <div>
      <h3>Awards</h3>
      {% for award in bio_acf.awards %}
      <div>
        <div>icon</div>
        <div>
          <div>{{ award.award_title }}</div>
          <div>{{ award.award_description }}</div>
        </div>
      </div>

      {% endfor %}
    </div>

    <div>
        <div>Recent Sales</div>
        {% for property in sold  %}
            <div>
                <img src="{{property.image}}">
                <div>
                    <div>
                        SOLD
                    </div>
                    <div>
                        ${{property.price}}
                    </div>
                    <div>
                        {{property.address.street_address}}, {{property.address.units}} <br>
                        {{property.address.city}}, {{property.address.zip_code}}<br>
                        {{property.unit_info}}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <!-- testimonial col -->
    <div>
        {% filter shortcodes %}
            [wpforms id="89" title="false"]
        {% endfilter %}
      <div>
        <h3>Testimonials</h3>
        <div>
          {% for testimonial in bio_acf.testimonials %}
          <div>
            <p>{{ testimonial.testimonial_text }}</p>
            <div>{{ testimonial.name }} ({{ testimonial.neighborhood }})</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
