{% extends "base.twig" %} {% block content %} {#
<div class="my-24">
  {% for building in buildings %}
  <div>{{ building.slug }}</div>
  {% endfor %}
</div>
#}

<section class="container mx-auto text-primary">
  <div class=" px-10 py-10">
    <h1 class="buildings-header text-3xl pb-2 ">
      Boston Premium Condominium Buildings
    </h1>
    <div class=" py-6 grid lg:grid-cols-3 md:grid-cols-2 gap-x-8 gap-y-5 p-5  ">
      {% for building in buildings %}

      <div class="w-full building-card border rounded ">
        <img class="  " alt="" src="{{ building.featured_image }}" />
        <div class="bg-secondary p-5">
          <div class=" w-full overflow-hidden mb-4">
            <p class="">
              {{ building.title }}
              <a class="more-info float-right  p-1" href="{{ building.link }}"
                >More Info</a
              >
            </p>
          </div>

          <hr />
          <div class="mt-4 h-12 text-base overflow-hidden">
            {{ building.address }}<br />{{ building.neighborhood }}
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
